<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <div class="container">
    <% include partials/navbar %>

      <% include partials/bootstrap_includes %>
  </div>
</body>

</html>