<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <div class="container">
    <% include partials/navbar %>
      <div class="row">

        <% out.res.forEach(function(doc) { %>
          <div class="col-sm-3">
            <%- include('partials/documentCard', { doc }) %>
          </div>
          <% }); %>

      </div>
  </div>
  <% include partials/bootstrap_includes %>
</body>

</html>